.negrita{
    font-weight: bold;
}

.cursiva{
    font-style: italic;
}

/*Pregunta 1*/
td[colspan = "2"],[rowspan = "2"]{
    background-color: green;
}
td[colspan="3"],[rowspan="3"]{
    background-color: yellow;
}
td[colspan="4"],[rowspan="4"]{
    background-color: brown;
}

/*Pregunta 2*/
li[id="pregunta1"],[id="pregunta2"],[id="pregunta3"],[id="pregunta4"],[id="pregunta5"],[id="pregunta6"]{
    color: rgb(158, 4, 158);
    font-family: Verdana
}

/*Pregunta 3*/
li[id] span[class="negrita"]{
    background-color: yellow;
}

/*Pregunta 4*/
.comentarios{
    font-style: italic;
    border: thin dotted #AC8159;
    margin-left: 10%;
    margin-right: 10%;
}

/*Pregunta 5*/
p+p{
    text-decoration: underline;
}

/*Pregunta 6*/
li>a{
    background-color: teal;
}