body {
  padding: 0%;
  margin: 0%;
}

.container {
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    "header"
    "shipment"
    "printing"
    "done"
    "footer";
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(238, 238, 238);
}

.shipment {
  font-size: 18px;
  grid-area: shipment;
  width: 70%;
  height: 20rem;
  background-color: rgb(48, 57, 66);
  box-shadow: 5px 5px 10px black;
  color: whitesmoke;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.printing {
  font-size: 18px;
  grid-area: printing;
  width: 70%;
  height: 20rem;
  background-color: rgb(48, 57, 66);
  box-shadow: 5px 5px 10px black;
  color: whitesmoke;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.done {
  font-size: 18px;
  grid-area: done;
  width: 70%;
  height: auto;
  background-color: rgb(48, 57, 66);
  box-shadow: 5px 5px 10px black;
  color: whitesmoke;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

div.texto{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.texto {
  font-size: 20px;
  align-self: center;
}

.settings {
  grid-area: settings;
  content: url(../img/more.png);
  height: 20px;
  width: 20px;
}

.caja-blanca {
  /* grid-area: caja-blanca; */
  height: 4.5rem;
  width: 90%;
  font-size: 20px;
  color: rgb(48, 57, 66);
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
}

.caja-blanca div{
  display: flex;
  margin-top: 0.5rem;
}

.caja-verde {
  height: 2rem;
  width: 40%;
  max-width: 7rem;
  background-color: rgb(88, 206, 78);
  border-radius: 5px;
}

.more-settings {
  content: url(../img/more_settings.png);
  height: 20px;
  width: 20px;
  margin-left: 1rem;
}

.footer {
  grid-area: footer;
  position: sticky;
  top: 100%;
  font-size: 12px;
  align-self: flex-end;
  height: 1.5rem;
  background-color: rgb(254, 87, 35);
  display: flex;
  justify-content: space-between;
}

.footer div {
  align-self: center;
}

.facebook {
  content: url(../img/facebook.png);
  height: 20px;
  width: 20px;
}

.twitter {
  content: url(../img/twitter.png);
  height: 20px;
  width: 20px;
}

.instagram {
  content: url(../img/instagram.png);
  height: 20px;
  width: 20px;
}

.tumblr {
  content: url(../img/tumblr.png);
  height: 20px;
  width: 20px;
}

.footer div:hover {
  filter: opacity(.5);
}

@media screen and (min-width: 768px) {
  .container{
    grid-template-areas: 
    "header header"
    "shipment printing"
    "done ..."
    "footer footer";
    grid-template-columns: 1fr 1fr;
  }
  .header{
    font-size: 12px;
  }
  .navbar-item:first-child{
    visibility: hidden;
    display: none;
  }
  #left{
    visibility: visible;
  }
}
@media screen and (min-width: 1100px) {
  .container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header{
    font-size: 14px;
    height: 100%;
    width: 80%;
    align-items: center;
  }
  .shipment, .printing, .done{
    width: 20%;
  }
  .navbar-item:first-child{
    visibility: hidden;
    display: none;
  }
  #left{
    visibility: visible;
  }
  .footer{
    width: 100%;
  }
}