.envoltorio{
    display: flex;
    border: 1px;
    height: 300px;
    width: 80%;
    margin: auto;
    background-color:aqua;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}
.cajita{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px;
    height: 50px;
    width: 140px;
    background-color:orangered;
}