
body{
	margin: 0;
	padding: 0;	
}

div.container{
  margin: 0 auto;	
  font-size: 16px;
  max-width: 1024px;  
}

div.container nav {
  width: 100%;
  background-color: green;  
  padding: 1em;
  box-sizing: border-box;
}

div.container article {
  display: inline-block;
  width: 70%;
  height: 31.25rem;
  background-color: blue;  
  background-image: url(img/content-is-like-water-5.jpg);
  padding: 1em;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.container aside {
  width: 30%;
  background-color: red;
  padding: 1em;
  font-size: 1em;
  box-sizing: border-box;
  float: right;
}

@media screen and (max-width: 576px){

  div.container article{
    background-image: url("./img/content-is-like-water-.jpg");
    height: 15rem;
    width: 100%;
  }

  div.container aside{
    width: 100%;
  }

}

@media screen and (max-width: 769px) {
  div.container article{
    background-image: url("./img/content-is-like-water-2.jpg");
    height: 23rem;
    display: inline-block;
  }
  div.container aside{
    float: right;
  }
}
