p:first-of-type{
    font-weight: bold;
    font-style: italic;
    text-indent: 2em;
}

#consejo{
    background-color: rgb(209, 209, 130);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
    color:  rgb(47, 8, 83);
}

#textolinea{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 218, 179);
    font-size: 1.2em;
    text-transform: capitalize;
    color:  rgb(47, 8, 83);
}

h3{
    background-color: rgb(182, 119, 74);
    color: beige;
}

.clase{
    font-style: italic;
    color:  rgb(46, 10, 80);
    font-family: Arial, Helvetica, sans-serif;
}

h4[class = "clase"]{
    font-weight: normal;
}

#idparaestilo{
    background-color: rgb(152, 144, 196);
    font-family: 'Courier New', Courier, monospace;
    color: beige;
}

table{
    width: 100%;
}